#ht {
    width: 60px;
    height: 40px;
    display: block;
    margin-left: 97%;
}
 body {
    background-color: rgba(0, 0, 0, 0.781);

}
h1 {
color: yellowgreen;
   text-align: end;
   font-family: 'Caveat', cursive;
margin-right: 5px;
}